<%= link_to 'sair', destroy_user_session_path, :method => :delete, :class => 'logout' %>
<%= form_for current_user, as: :user, url: url_for(action: :preview), html: {id: 'createBook'} do |f| %>

  <!-- W -->
  <div id="w">
    <%= image_tag 'w.jpg' %>
    <span class="balloon right" data-hover="#w" style="top: -50px; left: -140px">
      Select your picture
    </span>
    <div class="userInput">
      <% @images.each do |i| %>
        <%= image_tag i %>
      <% end %>
    </div>
    <%= f.file_field :template_picture %>
    <%= f.hidden_field :template_picture_cache %>
    <div class="hit"></div>
  </div>

  <%= image_tag 'plus.png', id: 'plus' %>

  <!-- K -->
  <div id="k">
    <%= image_tag 'k.jpg' %>
    <div class="userInput">
      <% 5.times do |i| %>
        <%= image_tag "type_placeholder#{i+1}.jpg" %>
      <% end %>
    </div>
    <span class="balloon" data-hover="#k" style="top: -60px; right: -260px">
      Tell us your story
    </span>
  </div>

  <%= f.submit type: 'image', src: asset_path('ok.png'), class: 'submit'%>

  <div id="textPanel">
    <%= f.label :template_text, "Conte a sua história" %>
    <%= f.text_field :template_title, placeholder: "Your history title...", maxlength: 100 %>
    <%= f.text_area :template_text, placeholder: "Lorem ipsum dolor sit amet..." %>
    <input type="button" value="OK" class="close">
    <span class="remainingWords"></span>
  </div>

<% end %>
