<script type="text/javascript">
  var params = {};
  params.play = "false";
  params.loop = "false";
  params.menu = "false";
  params.allowfullscreen = "true";
  params.allowscriptaccess = "always";
  params.bgcolor = "#000000"
  params.wmode = "opaque";
  
  flashvars = {
    image: '<%=j current_user.template_picture.url %>',
    text: '', // "<%=j current_user.template_text %>",
    text_title: '', //"<%=j current_user.template_title %>",
    text_layout: '<%= @template.text_id == nil ? current_user.template_text_id : @template.text_id %>',
    text_color: '<%= current_user.template_text_color %>'
  }
swfobject.embedSWF("<%= @template.effect_file.url %>", "effect", "100%", "100%", "10.1.0", "<%= asset_path('expressInstall.swf')%>", flashvars, params);
function test(){
  console.log("hello")
}
</script>
<style>
  body {
    overflow: hidden;
  }
</style>
<div id="effect">

</div>
<div id="effectControls">
  <div class="topControls">
    <div id="effectAmount"></div>
    <input type="button" value="Salvar" class="submit" onclick="submitPage(); return false;">
  </div>
  <div id="templates">
    <table>
      <tr>
  <% @templates.each do |t| 
        is_current = @template.id == t.id ? 'selected' : ''
      %>
        <td><%= link_to image_tag(t.preview_url(:small), :class => is_current), :template => t.id %></td>
  <% end %>
      </tr>
    </table>
  </div>
<!--
  <div id="textTemplates">
    <div id="textColor"></div>
    <% 11.times do |i|
        is_current = i == current_user.template_text_id ? 'selected' : ''
    %>
    <%= link_to_function image_tag("text_previews/text_#{i}.png", :class => "#{is_current} previewText"), "setTextLayout(#{i})" %>
    <%end if @template.text_id.nil?%>
  </div>
  -->
</div>

<script type="text/javascript">
  window.effectAmountValue = <%=current_user.effect_amount%>;
  window.textColorValue = <%=current_user.template_text_color || 0%>;
</script>
